$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* http://hslpicker.com/#3357a3 */
 /* Colors */
$swg-skill-box-bg-color: #0a6d82;
$swg-skill-box-bg-color-selected: #0bbc3a;
$swg-skill-box-border-color: #004655;
$swg-skill-box-border-color-selected: #09785c;
$swg-skill-box-shadow: inset 0 0 0 1px $swg-skill-box-border-color;
$swg-skill-box-font-color: #fff;
$swg-skill-box-text-shadow: 1px 1px 3px #000;

$swg-button-bg-color: #07414c;
$swg-button-border: #25798c;
$swg-button-button-shadow: inset 0 0 0 1px $swg-button-border;

$swg-menu-inner-bg: #0b9cb7;
$swg-menu-outer-bg: #08505c;
$swg-menu-inner-shadow: inset 0 0 18px $swg-menu-outer-bg;
$swg-menu-border-color: #1cffff;

$swg-text-shadow: 1px 1px 1px rgba(0,0,0,0.8);

/* Styles */
$swg-skill-box-border-radius: 6px;
$swg-skill-box-border-width: 1px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.grid {
  height: 356px;
}
.ui-grid-render-container-body .ui-grid-viewport {
  height: 323px;
}


body {
  padding: 0;

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

$revelation-bg-color: #292d30;
$sr-red: #b80000;
$sr-red-dark: #560707;

html {
  background-color: darken($revelation-bg-color, 10%);
}
a {
  color: #777;
}
a:hover {
  color: #fff;
}
a:active {
  color: #eee;
}

.navbar-spacer {
  display: none;
  width: 100%;
  background-color: darken($revelation-bg-color, 10%);
}
nav.navbar-swg {
  background-color: #000;
  padding: 8px 0;
  margin-bottom: 0;
  border: none;
  .container {
    position: relative;
  }
  li {
    float: left;
  }
  li a {
    color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  li a:hover {
    color: rgba(255,255,255,.8) !important;
  }
  li a:active {
    color: rgba(255,255,255,.6) !important;
  }
  .navbar-header {
    position: relative;
    left: 15px;
    bottom: 0;
    display: inline-block;
  }
  .nav-logo {
    width: 297px;
    height: auto;
    max-width: 90%;
    margin-right: 15px;
  }
  .navbar-nav {
    float: right;
    margin: 15px -15px;
  }
}
.page-head {
  background-color: darken($revelation-bg-color, 10%);
  color: #e2e2e2;
  padding: 40px 0;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.todo-wrap {
  background-color: $revelation-bg-color;
  color: #eee;
  padding: 25px 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  background-color: darken($revelation-bg-color, 10%);
  color: #ddd;
  border-top: 1px solid darken($swg-button-bg-color, 30%);
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .navbar-spacer {
    height: 24px;
    display: block;
  }
  nav.navbar-swg {
    .navbar-header {
      position: absolute;
      left: 15px;
      bottom: 0;
    }
    .navbar-nav {
      float: right;
      margin: 0;
    }
  }
}
@media screen and(min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .dropdown-menu {
    min-width: 600px;
  }
  .profession-wrap {
    padding-right: 0;
  }
  .character-skill-mods-wrap {
    padding-left: 0;
  }
  .skill-points-wrap {
    margin-top: 10px !important;
  }
}

@media screen and(max-width: 479px) {
  nav.navbar-swg .navbar-nav {
    float: none;
    text-align: center;
    li {
      float: none;
      display: inline-block;
    }
  }
}

@mixin border-width($px) {

  border-top-width: $px;
  border-bottom-width: $px;
  border-left-width: $px;
  border-right-width: $px;
}

@mixin swg-planner-wrap {

  color: $swg-skill-box-font-color;
  background-color: $swg-menu-outer-bg;
  padding-top: 30px;
  padding-bottom: 30px;
}

@mixin profession-trees {

  background-color: $swg-menu-inner-bg;
  border: solid 1px $swg-menu-border-color;
  border-radius: 6px;
  box-shadow: $swg-menu-inner-shadow;
  padding: 15px;
  margin: 5px;
}

@mixin swg-skill-box-wrap() {

  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
}

@mixin swg-skill-box-corner($bg-color, $border-color) {

  content: '';
  height: 10px;
  width: 10px;
  background-color: $bg-color;
  border: solid 1px $border-color;
  position: absolute;
  transform: rotate(45deg);
  z-index: 120;
}

@mixin swg-skill-single() {

  background-color: $swg-skill-box-bg-color;
  box-shadow: $swg-skill-box-shadow;
  color: $swg-skill-box-font-color;
  text-shadow: $swg-skill-box-text-shadow;
  height: 100%;
  min-height: 40px;
  text-align: center;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 4px;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  &:hover {
    background-color:lighten($swg-skill-box-bg-color, 30%);
    color: $swg-skill-box-font-color;
    cursor: pointer;
  }
  .selected & {
    background-color: $swg-skill-box-bg-color-selected;
    border-color: $swg-skill-box-border-color-selected;
  }
  &.selected:hover {
    background-color: lighten($swg-skill-box-bg-color-selected, 30%);
    border-color: $swg-skill-box-border-color-selected;
    cursor: pointer;
  }
  &:after {
    @include swg-skill-box-corner($swg-menu-inner-bg, $swg-skill-box-border-color);
    top: -5px;
    right: -5px;
  }
  &:before {
    @include swg-skill-box-corner($swg-menu-inner-bg, $swg-skill-box-border-color);
    bottom: -5px;
    left: -5px;
  }
  &.selected:after {
    @include swg-skill-box-corner($swg-menu-inner-bg, $swg-skill-box-border-color-selected);
  }
  &.selected:before {
    @include swg-skill-box-corner($swg-menu-inner-bg, $swg-skill-box-border-color-selected);
  }
  .name {
    font-size: 85%;
    margin-bottom: 0px;
  }
  .description {
    font-size: 70%;
  }
}

/* Master and novice boxes are a single row with a single skill
*/

.swg-planner-wrap {
  @include swg-planner-wrap;
}

.profession-trees h3, .character-skill-mods h3 {
  margin-top: 0;
}

.dropdown-menu, .tooltip-inner {
  color: #fff;
  text-shadow: $swg-text-shadow;
  padding: 16px 4px;
  border-radius: 0;
  background-color: rgba(11, 156, 183, 0.9);
  border: solid 1px rgba(28,255,255,0.9)
}
.dropdown-menu a {
  color: lighten($swg-skill-box-bg-color, 55%);
  text-shadow: $swg-text-shadow;
}
.tooltip-inner {
  text-align: left;
  padding: 4px 6px;
  width: 260px;
  max-width: 95%;
  ul {
    padding-left: 6px;
    list-style: none;
  }
  skill-description {
    font-size: 85%;
  }
}
.tooltip-arrow {
  display: none;
}
.tooltip.top {
  margin-top: 0;
}

/* Buttons */

  /* Sorting Labels */
.ui-grid-top-panel, .ui-grid-header-canvas, .ui-grid-header-viewport {
  background-color: $swg-skill-box-bg-color;
  border-radius: 6px 6px 0 0;
}
.ui-grid-header-cell {
  background-color: $swg-skill-box-bg-color;
  border-color: $swg-menu-border-color;
  font-size: 70%;
  text-align: left;
}
.ui-grid {
  border: 1px solid #005c6d;
  border-radius: 6px;
  box-shadow: $swg-menu-inner-shadow;
}

$swg-scroll-bar-color: #01b5c9;
.ui-grid-viewport {
  overflow-x: hidden !important;
}

.ui-grid-row .ui-grid-cell {
  font-size: 80%;
  line-height: 170%;
  border-color: $swg-menu-border-color;
}
/*.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: darken($swg-menu-border-color, 15%);
}
.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: darken($swg-menu-border-color, 25%);
}*/
.ui-grid-row:nth-child(odd) .ui-grid-cell, .ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: transparent;
}
.character-skill-mods .ui-grid-row {
  border-bottom: solid 1px $swg-menu-border-color;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: $swg-button-border;
}
::-webkit-scrollbar-thumb {
  background-color: $swg-menu-border-color;
}
::-webkit-scrollbar-button {
  height: 0px;
}
::-webkit-scrollbar-corner {
  background-color: $swg-button-border;
}

$swg-skill-box-bg-red: #d43131;

.swg-ui-button, .learned-professions .swg-ui-button {
  @include swg-skill-single;
  background-color: $swg-skill-box-bg-color;
  box-shadow: $swg-button-button-shadow;
  color: lighten($swg-skill-box-bg-color, 55%);
  padding: 0 4px;
  margin: 2px 4px;
  border: none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  position: relative;
  min-height: initial;
  &:hover {
    background-color:lighten($swg-skill-box-bg-color, 30%);
    color: $swg-skill-box-font-color;
    cursor: pointer;
  }
  &.selected {
    background-color: $swg-skill-box-bg-color-selected;
    border-color: $swg-skill-box-border-color-selected;
  }
  &.selected:hover {
    background-color: lighten($swg-skill-box-bg-color-selected, 30%);
    border-color: $swg-skill-box-border-color-selected;
    cursor: pointer;
  }
  &:after {
    @include swg-skill-box-corner($swg-menu-outer-bg, $swg-button-border);
    top: -5px;
    right: -5px;
  }
  &:before {
    @include swg-skill-box-corner($swg-menu-outer-bg, $swg-button-border);
    bottom: -5px;
    left: -5px;
  }
  &.selected:after {
    @include swg-skill-box-corner($swg-menu-outer-bg, $swg-skill-box-border-color-selected);
  }
  &.selected:before {
    @include swg-skill-box-corner($swg-menu-outer-bg, $swg-skill-box-border-color-selected);
  }
  .swg-ui-button-name {
    color: lighten($swg-skill-box-bg-color, 55%);
    padding: 8px 14px;
    display: inline-block;
    text-decoration: none;
  }
  .swg-ui-button-close {
    font-size: 80%;
    position: relative;
    top: -4px;
    right: 4px;
    text-decoration: none;

    span {
      color: lighten($swg-skill-box-bg-color, 55%);
    }
  }
  &.swg-ui-button-red {
    padding: 4px 15px;
    color: lighten($swg-skill-box-bg-red, 45%);
    background-color: $swg-skill-box-bg-red;
    box-shadow: inset 0 0 0 1px darken($swg-skill-box-bg-red, 15%);

    &.swg-ui-button-name {
      color: lighten($swg-skill-box-bg-red, 45%);
    }
    &:hover {
      background-color:lighten($swg-skill-box-bg-red, 10%);
      color: $swg-skill-box-font-color;
      cursor: pointer;
    }
    &:after {
      @include swg-skill-box-corner($swg-menu-inner-bg, darken($swg-skill-box-bg-red, 15%));
    }
    &:before {
      @include swg-skill-box-corner($swg-menu-inner-bg, darken($swg-skill-box-bg-red, 15%));
    }
  }
}

.learned-profession-row {
  margin-bottom: 15px;
}

/* Skill Information */
.ui-grid-top-panel {
  background-color: $swg-menu-inner-bg;
}

.ui-grid-header {
  border: none;
}

$swg-menu-inner-bg-md: #0a718a;
$swg-menu-inner-border-md: #30b8ce;

.skill-points-bar {
  .progress {
    height: 14px;
    border-radius: 4px;
    margin-bottom: 0px;
    background-color: $swg-menu-inner-bg-md;
    background-image: url("../imgs/skillpoints-used.png");
    background-repeat: repeat-x;
    background-position: center;
  }
  .progress-bar-success {
    background-image: url("../imgs/skillpoints-free.png");
    background-repeat: repeat-x;
  }
}

.profession-trees, .character-skill-mods, .experience-summary, .skill-points-wrap {
  @include profession-trees;
}

.skill-points-wrap {
  text-shadow: $swg-skill-box-text-shadow;
}

.skill-points-bar {
  padding: 6px 10px;
  background-color: $swg-menu-inner-bg-md;
  border-radius: 12px;
  border-color: $swg-menu-inner-border-md;
  border-style: solid;
  border-width: 1px;
}

.swg-single-skill-row {
  @include make-row();
}
.swg-single-skill-row-skill {
  @include make-md-column(4);
  @include make-md-column-offset(4);
  @include make-sm-column(4);
  @include make-sm-column-offset(4);
  @include make-xs-column(4);
  @include make-xs-column-offset(4);
  @include swg-skill-box-wrap();
}
.swg-skill-single {
  @include swg-skill-single();
}

/*
 * Pyramid Skills

#4              [MASTER]
#3           [.....][.....]
#2      [......][......][......]
#1[.......][......][.......][.......]
#0              [NOVICE]


 */

@mixin swg-pyramid-base($width: 1, $offset: 0) {
  @include swg-skill-box-wrap();
  @include make-md-column($width);
  @include make-md-column-offset($offset);
  @include make-sm-column($width);
  @include make-sm-column-offset($offset);
  @include make-xs-column($width);
  @include make-xs-column-offset($width);
}

@mixin swg-pyramid-row3($offset: 0) {
  @include swg-pyramid-base(3, $offset);
}
.swg-pyramid-row3 {
  @include make-row();
}
.swg-pyramid-row3-skill1 {
  @include swg-pyramid-row3(3);
}
.swg-pyramid-row3-skill2 {
  @include swg-pyramid-row3(0);
}

@mixin swg-pyramid-row2($offset: 0) {
  @include swg-pyramid-base(3.5, $offset);
}
.swg-pyramid-row2 {
  @include make-row();
}
.swg-pyramid-row2-skill1 {
  @include swg-pyramid-row2(0.75);
}
.swg-pyramid-row2-skill2,
.swg-pyramid-row2-skill3 {
  @include swg-pyramid-row2(0);
}

@mixin swg-pyramid-row1() {
  @include swg-pyramid-base(3, 0);
}
.swg-pyramid-row1 {
  @include make-row();
}
.swg-pyramid-row1-skill1,
.swg-pyramid-row1-skill2,
.swg-pyramid-row1-skill3,
.swg-pyramid-row1-skill4,
{
  @include swg-pyramid-row1();
}

/*
 * 4 by 4 template
 * [...][...][...][...]
 * [...][...][...][...]
 * [...][...][...][...]
 * [...][...][...][...]
 */

@mixin swg-4by4-base($width: 3, $offset: 0) {
  @include swg-skill-box-wrap();
  @include make-md-column($width);
  @include make-md-column-offset($offset);
  @include make-sm-column($width);
  //@include make-sm-column-offset(0);
  @include make-xs-column($width);
  //@include make-xs-column-offset(0);
  min-height: 48px;
  padding-right: 1px;
  padding-left: 1px;
}

.swg-4by4-row1,.swg-4by4-row2,.swg-4by4-row3,.swg-4by4-row4 {
  @include make-row();
}
.swg-4by4-row1-skill1,.swg-4by4-row1-skill2,.swg-4by4-row1-skill3,.swg-4by4-row1-skill4,.swg-4by4-row2-skill1,.swg-4by4-row2-skill2,.swg-4by4-row2-skill3,.swg-4by4-row2-skill4,.swg-4by4-row3-skill1,.swg-4by4-row3-skill2,.swg-4by4-row3-skill3,.swg-4by4-row3-skill4,.swg-4by4-row4-skill1,.swg-4by4-row4-skill2,.swg-4by4-row4-skill3,.swg-4by4-row4-skill4 {
  @include swg-4by4-base();
}

/*
 * 3 by 4 template
 *
 *   [...][...][...]
 *   [...][...][...]
 *   [...][...][...]
 *   [...][...][...]
 */

@mixin swg-3by4-base($width: 3, $offset :0) {
  @include swg-skill-box-wrap();
  @include make-md-column($width);
  @include make-md-column-offset($offset);
  @include make-sm-column($width);
  @include make-xs-column($width);
}

.swg-3by4-row1,
.swg-3by4-row2,
.swg-3by4-row3,
.swg-3by4-row4 {
  @include make-row();
}


.swg-by4-row1-skill2,
.swg-3by4-row1-skill3,
.swg-3by4-row1-skill4,
.swg-by4-row2-skill2,
.swg-3by4-row2-skill3,
.swg-3by4-row2-skill4,
.swg-by4-row2-skill2,
.swg-3by4-row2-skill3,
.swg-3by4-row2-skill4 {
  @include swg-3by4-base(3, 0);
}

.swg-3by4-row1-skill1,
.swg-3by4-row2-skill1,
.swg-3by4-row3-skill1,
.swg-3by4-row4-skill1 {
  @include swg-3by4-base(3, 1);
}

/*
 * 2 by 4 template
 *
 *     [...][...]
 *     [...][...]
 *     [...][...]
 *     [...][...]
 */

@mixin swg-2by4-base($width: 3, $offset :0) {
  @include swg-skill-box-wrap();
  @include make-md-column($width);
  @include make-md-column-offset($offset);
  @include make-sm-column($width);
  @include make-xs-column($width);
}

.swg-2by4-row1,
.swg-2by4-row2,
.swg-2by4-row3,
.swg-2by4-row4 {
  @include make-row();
}


.swg-by4-row1-skill2,
.swg-2by4-row1-skill3,
.swg-2by4-row1-skill4,
.swg-by4-row2-skill2,
.swg-2by4-row2-skill3,
.swg-2by4-row2-skill4,
.swg-by4-row2-skill2,
.swg-2by4-row2-skill3,
.swg-2by4-row2-skill4 {
  @include swg-2by4-base(3, 0);
}

.swg-2by4-row1-skill1,
.swg-2by4-row2-skill1,
.swg-2by4-row3-skill1,
.swg-2by4-row4-skill1 {
  @include swg-2by4-base(3, 2);
}